<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 fs-20  text-center">
            <img src="/img/404.png" class="w-100" alt="">
            <p class="text-muted">
                Mohon maaf, halaman tidak tersedia atau URL yang Anda inputkan salah.
            </p>
            <p class="mt-5">
                Kembali ke beranda
            </p>
            <a href="/" class="btn btn-blue-dark"> Beranda </a>
        </div>
    </div>
</div>