<nav class="navbar navbar-landing navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/img/logo.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#beranda">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#keunggulan">Keunggulan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kategori">Kategori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tentang">Tentang Kami</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="btn btn-blue-dark"> Masuk </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="banner" id="beranda">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-6">
                <h1 class="title-banner fw-bolder">Nikmati indahnya berbagi dokumen.</h1>
                <p class="fs-20 text-grey my-5">
                    Dengan <span class="fw-bold text-dark-blue">Share.doc </span>kita dapat berbagi serta menyimpan atau mengarsipkan dokumen, bergabung bersama kami untuk menikmati
                    indahnya berbagi.
                </p>
                <a href="/register" class="btn btn-blue-dark"> Daftar Sekarang </a>
            </div>
            <div class="col-md-6 align-self-center" data-aos="fade-left" data-aos-duration="2000">
                <img src="/img/img-banner.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>

<!-- keunggulan -->
<div class="keunggulan my-50" id="keunggulan">
    <div class="container">
        <div class="text-center">
            <h2 class="fw-bold text-dark">
                Keunggulan
            </h2>
            <p class="fw-20 text-grey">
                Selalu memberikan yang terbaik bagi pengguna yang baik untuk berbagi
            </p>
        </div>
        <div class="row gy-3 mt-5">
            <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-duration="1000">
                <div class="box-white">
                    <img src="/img/icon/icon-share.svg" alt="">
                    <h3 class="fs-24 mt-5">
                        Berbagi Dokumen
                    </h3>
                    <p class="text-grey mt-3 fs-16">
                        Pengguna bisa saling berbagi dokumen tanpa harus mengenal atau menambahkan teman disini.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-duration="1500">
                <div class="box-white">
                    <img src="/img/icon/icon-arsip.svg" alt="">
                    <h3 class="fs-24 mt-5">
                        Mengarsipkan Dokumen
                    </h3>
                    <p class="text-grey mt-3 fs-16">
                        Tidak hanya berbagi, disini pengguna juga dapat menyimpan dokumen pribadi tanpa harus membagikannya.
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-duration="2000">
                <div class="box-white">
                    <img src="/img/icon/icon-search.svg" alt="">
                    <h3 class="fs-24 mt-5">
                        Mencari Dokumen
                    </h3>
                    <p class="text-grey mt-3 fs-16">
                        Website ini bisa dijadikan sumber bagi pengguna untuk mencari referensi dalam mengerjakan suatu dokumen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sumber -->
<div class="my-50 sumber">
    <div class="container">
        <div class="row gy-5 gx-5">
            <div class="col-md-5" data-aos="fade-right" data-aos-duration="2000">
                <img src="/img/img-sumber.png" class="w-100" alt="">
            </div>
            <div class="col-md-7 align-self-center">
                <h2 class="text-dark fw-bold"> <span class="text-yellow">#SumberReferensi</span> dokumen Anda.</h2>
                <p class="text-grey fs-20 my-3">
                    Masuk dan temukan referensi dokumen dari sumber terpecaya.
                </p>
                <a href="/login" class="btn btn-blue-dark w-25"> Masuk </a>
            </div>
        </div>
    </div>
</div>

<!-- kategori -->
<div class="kategori my-50" id="kategori">
    <div class="container">
        <div class="text-center">
            <h2 class="fw-bold text-dark">
                Kategori Teratas
            </h2>
            <p class="fw-20 text-grey">
                Terdapat banyak kategori dokumen. Temukan dan tentukan kategori Anda.
            </p>
        </div>
        <div class="row gy-3 mt-5">
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="box-white-kategori">
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/icon/icon-kategori.svg" class="w-100" alt="">
                        </div>
                        <div class="col-8 align-self-center">
                            <h5>Teknologi</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1500">
                <div class="box-white-kategori">
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/icon/icon-kategori.svg" class="w-100" alt="">
                        </div>
                        <div class="col-8 align-self-center">
                            <h5>Kedokteran</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
                <div class="box-white-kategori">
                    <div class="row">
                        <div class="col-4">
                            <img src="/img/icon/icon-kategori.svg" class="w-100" alt="">
                        </div>
                        <div class="col-8 align-self-center">
                            <h5>Ekonomi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div class="my-50 about" id="tentang">
    <div class="container">
        <div class="row gy-3 gx-5">
            <div class="col-md-7 align-self-center">
                <h2 class="text-dark fw-bold">Tentang Kami</h2>
                <p class="text-grey fs-20 my-3">
                    Kami terbentuk dalam sebuah tim kecil yang terdiri dari 3 orang mahasiswa. Dipertemukan pada Kampus Universitas
                    Indraprasta PGRI. Website ini terinspirasi dari banyaknya mahasiswa yang sulit menemukan referensi jika ingin
                    mengerjakan suatu dokumen terutama saat ingin sidang skripsi. tercetuslah <span class="fw-bold text-dark-blue">Share.doc </span>sebuah website untuk berbagi
                    dokumen, dengan ini kami berharap dapat membantu orang banyak terutama kepada mahasiswa yang sedang diujung perjuangan.
                    sekali lagi berbagi itu indah
                </p>
            </div>
            <div class="col-md-5 d-flex justify-content-center" data-aos="fade-left" data-aos-duration="2000">
                <img src="/img/img-tim.png" class="w-75" alt="">
            </div>
        </div>
    </div>
</div>

<footer class="bg-white py-5 fs-20">
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-4 mb-5 mb-md-0 pr-md-5 text-center text-md-left">
                <img src="/img/logo.svg" class="img-fluid mb-md-5" alt="">
                <p class="">Jl H Miun no 11, Blok M. Kota Depok</p>
                <p class="">Telp. 021-xxx xxx</p>
            </div>
            <div class="col-lg-4 text-center text-md-left">
                <h5 class="text-dark">Kategori</h5>
                <ul class="list-unstyled m-0 my-md-3">
                    <li><a href="#" class="text-decoration-none text-grey">Teknologi</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Kedokteran</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Hukum</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Desain</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Sains</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Matematika</a></li>
                </ul>
            </div>
            <div class="col-lg-4 text-center text-md-left">
                <h5 class="text-dark">Tentang</h5>
                <ul class="list-unstyled m-0 mb-5 my-md-3">
                    <li><a href="#" class="text-decoration-none text-grey">About Us</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Editorial Team</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Privacy Policy</a></li>
                    <li><a href="#" class="text-decoration-none text-grey">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-top pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>© Copyright 2021 TripleF All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
</footer>