<div class="container my-5">
    <div class="row m-1 m-md-5 mt-5 mt-md-0 no-gutters shadow-lg">
        <div class="col-md-7 position-relative d-none d-md-block">
            <img src="/img/bg-login.jpg" class="img-login" />
        </div>
        <div class="col-md-5 bg-white p-3 p-md-5">
            <a href="/">
                <img src="/img/logo.svg" alt="" class="mb-5">
            </a>

            <h5 class="mb-3">Masuk</h5>
            <p class="fs-14 text-grey mb-5">Terimakasih telah kembali pada Share.doc, silahkan masuk dan saling berbagi
                dokumen.</p>
            <div class="form-style">
                <form action="/login" method="POST">
                    <div class="form-group pb-3">
                        <label class="form-label">Email</label>
                        <input type="email" placeholder="Masukkan Email ..." class="form-control form-light"
                            id="exampleInputName1" name="email">
                    </div>
                    <div class="form-group pb-3">
                        <label class="form-label">Password</label>
                        <input type="password" placeholder="Masukkan Password ..." class="form-control form-light"
                            id="exampleInputName2" name="password" autocomplete="on">
                        <a href="" class="fs-14 form-text text-blue-dark text-right">Lupa
                            password?</a>
                    </div>
                    <div class="pb-2">
                        <button type="submit" class="btn btn-blue-dark w-100 mt-2">MASUK</button>
                    </div>
                </form>
                <div class="pt-4 text-center">
                    Belum memiliki akun? <a href="/register">Daftar</a>
                </div>
            </div>
        </div>
    </div>