<!doctype html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../temp/css'); %>
</head>

<body>
    <%- include(layout); %>
</body>
<%- include('../temp/main_js'); %>

</html>