<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-light sticky-top justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand d-flex mr-auto" href="#"><img src="/img/logo.svg" alt=""></a>
        <a href="" class="float-right d-block d-md-none"> <img src="/img/img-profile.png" class="img-profile-mobile"
                alt=""> </a>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home"><i
                            class="mdi mdi-home-outline"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Library"><i
                            class="mdi mdi-file-document-outline"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="University"><i class="mdi mdi-school-outline"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- navbar mobile -->
<ul class="nav navbar-mobile justify-content-center bg-white fixed-bottom shadow d-block d-md-none">
    <li class="nav-item active">
        <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home"><i
                class="mdi mdi-home-outline"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Library"><i
                class="mdi mdi-file-document-outline"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="University"><i
                class="mdi mdi-school-outline"></i></a>
    </li>
</ul>