<div class="my-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="fixed">
                    <div class="box-white">
                        <nav aria-label="breadcrumb mb-0">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/university" class="text-dark-blue">University</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Universitas Gadjah Mada</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="box-white">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box-white">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="/img/img-profile.png" class="img-profile-content" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-16 text-dark text-semibold mt-3 mb-0">Neelesh Chaudhary</h6>
                            <div class="row">
                                <div class="col-sm-8">
                                    <p class="text-grey fs-14">Universitas Gadjah Mada (Angkatan 2020) </p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-grey fs-14"><i class="mdi mdi-calendar"></i> 21 Januari 2020
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-small">
                        <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                        <h6>Proposal Kegiatan Sekolah</h6>
                        <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                            molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                        </p>
                        <div class="downloader">
                            <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                            <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                            <span class="text-grey fs-14 ms-3">50 downloader</span>
                        </div>
                    </div>
                </div>
                <div class="box-white">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="/img/img-profile.png" class="img-profile-content" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-16 text-dark text-semibold mt-3 mb-0">Neelesh Chaudhary</h6>
                            <div class="row">
                                <div class="col-sm-8">
                                    <p class="text-grey fs-14">Universitas Gadjah Mada (Angkatan 2020) </p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-grey fs-14"><i class="mdi mdi-calendar"></i> 21 Januari 2020
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-small">
                        <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                        <h6>Proposal Kegiatan Sekolah</h6>
                        <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                            molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                        </p>
                        <div class="downloader">
                            <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                            <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                            <span class="text-grey fs-14 ms-3">50 downloader</span>
                        </div>
                    </div>
                </div>
                <div class="box-white">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="/img/img-profile.png" class="img-profile-content" alt="">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="fs-16 text-dark text-semibold mt-3 mb-0">Neelesh Chaudhary</h6>
                            <div class="row">
                                <div class="col-sm-8">
                                    <p class="text-grey fs-14">Universitas Gadjah Mada (Angkatan 2020) </p>
                                </div>
                                <div class="col-sm-4">
                                    <p class="text-grey fs-14"><i class="mdi mdi-calendar"></i> 21 Januari 2020
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-small">
                        <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                        <h6>Proposal Kegiatan Sekolah</h6>
                        <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                            molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                        </p>
                        <div class="downloader">
                            <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                            <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                            <span class="text-grey fs-14 ms-3">50 downloader</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>