<%- include('../temp/button-add'); %>
    <div class="my-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-white fixed">
                        <div class="nav nav-tabs flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">Public (98)</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-profile" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">Private (50)</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                                data-bs-target="#v-pills-messages" type="button" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">Download (200)</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content" id="v-pills-tabContent">

                        <!-- public -->
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <div class="box-white">
                                <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                <div class="float-end">
                                    <div class="dropdown">
                                        <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Proposal Kegiatan Sekolah</h6>
                                <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                                    molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                                </p>
                                <div class="downloader">
                                    <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                    <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                    <span class="text-grey fs-14 ms-3">50 downloader</span>
                                </div>
                            </div>
                            <div class="box-white">
                                <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                <div class="float-end">
                                    <div class="dropdown">
                                        <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Proposal Kegiatan Sekolah</h6>
                                <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                                    molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                                </p>
                                <div class="downloader">
                                    <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                    <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                    <span class="text-grey fs-14 ms-3">50 downloader</span>
                                </div>
                            </div>
                            <div class="box-white">
                                <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                <div class="float-end">
                                    <div class="dropdown">
                                        <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Proposal Kegiatan Sekolah</h6>
                                <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                                    molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                                </p>
                                <div class="downloader">
                                    <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                    <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                    <span class="text-grey fs-14 ms-3">50 downloader</span>
                                </div>
                            </div>
                        </div>

                        <!-- private -->
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <div class="box-white">
                                <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                <div class="float-end">
                                    <div class="dropdown">
                                        <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Proposal Kegiatan Sekolah</h6>
                                <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                                    molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                                </p>
                                <div class="downloader">
                                    <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                    <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                    <span class="text-grey fs-14 ms-3">50 downloader</span>
                                </div>
                            </div>
                            <div class="box-white">
                                <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                <div class="float-end">
                                    <div class="dropdown">
                                        <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Proposal Kegiatan Sekolah</h6>
                                <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                                    molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                                </p>
                                <div class="downloader">
                                    <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                    <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                    <span class="text-grey fs-14 ms-3">50 downloader</span>
                                </div>
                            </div>
                            <div class="box-white">
                                <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                <div class="float-end">
                                    <div class="dropdown">
                                        <a class="btn btn-light" href="#" role="button" id="dropdownMenuLink"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6>Proposal Kegiatan Sekolah</h6>
                                <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium, rem
                                    molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus magni!
                                </p>
                                <div class="downloader">
                                    <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                    <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                    <span class="text-grey fs-14 ms-3">50 downloader</span>
                                </div>
                            </div>
                        </div>

                        <!-- download -->
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">
                            <div class="box-white">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="/img/img-profile.png" class="img-profile-content" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="fs-16 text-dark text-semibold mt-3 mb-0">Neelesh Chaudhary</h6>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <p class="text-grey fs-14">Universitas Indraprasta (Angkatan 2020) </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="text-grey fs-14"><i class="mdi mdi-calendar"></i> 21 Januari
                                                    2020
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-small">
                                    <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                    <h6>Proposal Kegiatan Sekolah</h6>
                                    <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium,
                                        rem
                                        molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus
                                        magni!
                                    </p>
                                    <div class="downloader">
                                        <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                        <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                        <span class="text-grey fs-14 ms-3">50 downloader</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-white">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="/img/img-profile.png" class="img-profile-content" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="fs-16 text-dark text-semibold mt-3 mb-0">Neelesh Chaudhary</h6>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <p class="text-grey fs-14">Universitas Indraprasta (Angkatan 2020) </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="text-grey fs-14"><i class="mdi mdi-calendar"></i> 21 Januari
                                                    2020
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-small">
                                    <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                    <h6>Proposal Kegiatan Sekolah</h6>
                                    <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium,
                                        rem
                                        molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus
                                        magni!
                                    </p>
                                    <div class="downloader">
                                        <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                        <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                        <span class="text-grey fs-14 ms-3">50 downloader</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-white">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="/img/img-profile.png" class="img-profile-content" alt="">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="fs-16 text-dark text-semibold mt-3 mb-0">Neelesh Chaudhary</h6>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <p class="text-grey fs-14">Universitas Indraprasta (Angkatan 2020) </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="text-grey fs-14"><i class="mdi mdi-calendar"></i> 21 Januari
                                                    2020
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-small">
                                    <span class="badge bg-yellow text-white mb-3">Teknologi</span>
                                    <h6>Proposal Kegiatan Sekolah</h6>
                                    <p class="text-grey fs-14">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Eligendi omnis quisquam laboriosam, dignissimos quos et atque natus praesentium,
                                        rem
                                        molestiae eos, totam nemo laborum excepturi voluptate fuga dolorem temporibus
                                        magni!
                                    </p>
                                    <div class="downloader">
                                        <i class="mdi mdi-file-pdf text-danger fs-20"></i>
                                        <a href="/doc/dokumen.pdf" target="_blank" class="text-dark">Download</a>
                                        <span class="text-grey fs-14 ms-3">50 downloader</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>