<div class="my-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <a href="/detail-university" class="text-decoration-none">
                    <div class="box-white hover-shadow">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/detail-university" class="text-decoration-none">
                    <div class="box-white hover-shadow">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/detail-university" class="text-decoration-none">
                    <div class="box-white hover-shadow">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/detail-university" class="text-decoration-none">
                    <div class="box-white hover-shadow">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/detail-university" class="text-decoration-none">
                    <div class="box-white hover-shadow">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/detail-university" class="text-decoration-none">
                    <div class="box-white hover-shadow">
                        <div class="text-center">
                            <img src="/img/campus/campus-1.png" class="img-univ" alt="">
                            <h5 class="text-dark mt-3">Universitas Gadjah Mada</h5>
                            <p class="text-grey"> 20 Dokumen </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>