<div class="my-4">
  <div class="container-fluid">
    <form action="/upload" method="post" enctype="multipart/form-data" class="pb-5">
      <div class="row justify-content-center box-white">
        <div class="col-md-8">
          <h3 class="text-center mb-5">Upload Dokumen</h3>
          <div class="form-group pb-3">
            <label class="form-label">Judul Dokumen</label>
            <input type="text" name="title" maxlength="50" placeholder="Tulis judul disini .." required="" id="judul"
              class="form-control form-light" id="exampleInputName1">
          </div>
          <div class="form-group pb-3">
            <label class="form-label">Deskripsi</label>
            <textarea name="description" id="deskripsi" rows="5" placeholder="Tulis deskripsi disini .."
              class="form-control form-light"></textarea>
          </div>
          <div class="form-group pb-3">
            <label class="form-label">Upload Dokumen</label>
            <input class="form-control" name="document" type="file" id="formFile" required="">
          </div>
          <div class="form-group pb-3">
            <label class="form-label">Kategori</label>
            <select class="form-select" aria-label="Default select example" name="category" required="">
              <option selected>Pilih Kategori dokumen</option>
              <option value="Teknologi">Teknologi</option>
              <option value="Kedokteran">Kedokteran</option>
              <option value="Ekonomi">Ekonomi</option>
            </select>
          </div>
          <div class="form-group pb-3 mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" aria-label="Default select example" name="posting_type">
              <option value="Public">Public</option>
              <option value="Private">Private</option>
            </select>
          </div>

          <div class="float-end">
            <button type="button" onclick="window.history.back()" class="btn btn-light mr-3"> Cancel
            </button>
            <button class="btn btn-blue-dark" type="submit" id="submitbtn"> Simpan </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>